[Unit]
Description=Arduino-based resource monitor

[Service]
ExecStart=/usr/bin/env python /usr/local/bin/arduino-monitor.py
Restart=always

[Install]
WantedBy=default.target